*  {
  margin:0;
  padding:0;
}

html, body { margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;}

  .geral {
    min-height:100%;
    position:relative;
    min-width: 80%;
  }

  #geral{
    position:relative;
    padding-top: 10px; 
    min-height: 100%;
  }
  .footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #cccccc; 

  }
  #mostrar{
    display: none;
  }

  #apresentar{
    display: none;
  }
  td{
   word-wrap:break-word;
 }

 #id_nome{
  margin-left: 30px;
}
#geralIndex{
  position:relative;
  padding-top: 10px; 
  min-height: 50%
}