*  {
    margin:0;
    padding:0;
}

html, body {height:100%;
width: 100%;
}

.geral {
    min-height:100%;
    position:relative;
}

.footer {
    position:relative;
    bottom:0;
    width:100%;
    background-color: blue;
}

.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}

#mostrar{
	display: none;
}

#apresentar{
	display: none;
}