*  {
  margin:0;
  padding:0;
}


@media only screen and (max-device-width: 800px) {
  #label{
    font-size: 30px;
  }
  #nome, #quantidade{
    font-size: 25px;
  }
  #add-campo, #cad, #btnListar{
    font-size: 20px;
  }
  #tabela{
    font-size: 35px;
  }
  .nav-link{
    font-size: 20px;
  }
  #nomeProduto{
    font-size: 25px;
  }

}

html, body { margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;}

  .geral {
    min-height:100%;
    position:relative;
    min-width: 80%;
  }

  #geral{
    position:relative;
    padding-top: 10px; 
    min-height: 100%;
    margin-top: 60px;
  }
  .footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    /*background-color: #cccccc; */

  }
  #mostrar{
    display: none;
  }

  #apresentar{
    display: none;
  }
  td{
   word-wrap:break-word;
 }

 #id_nome{
  margin-left: 30px;
}
#geralIndex{
  position:relative;
  padding-top: 10px; 
  min-height: 50%
}

#mensagemAlerta, #tabela{
  padding-top: 50px;
}
#idtdnome{
  margin-left: 30px;
}